/* You can add global styles to this file, and also import other style files */
@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

html, body { height: 100%; }
body { margin: 0; font-family: 'Pokemon Solid', sans-serif;}

.rosa.sidenav-content {
    background-color: pink;
}

.amarelo.sidenav-content {
    background-color: #FECD3D;
}

.normal.sidenav-content {
    
}

.preto.sidenav-content {
    background-color: #303030;
}